/* css styles */
/* Sélectionne l'image spécifique du logo dans la barre de navigation */
.navbar-brand img[src="images/logo_source.jpeg"] {
  width: 250px;  /* Ajustez cette valeur selon la taille souhaitée */
  height: auto;  /* Maintient le ratio de l'image */
}

/* Exemple : mettre en surbrillance l'onglet "CV" quand le body a la classe "cv" */
body.cv .navbar .nav-item.dropdown > a {
  background-color: #e0e0e0; /* Choisissez la couleur qui vous convient */
  font-weight: bold;
}
